* {
       margin: 0;
       padding: 0;
       font-family: "Roboto", sans-serif;
}

body {
       overflow-x: hidden;
}

.navbar {
       /*top main navabar*/
       height: 65px;
       width: 100vw;
       display: flex;
       align-items: center;
       background-color: #ffffff;
       justify-content: space-around;
}


.logo-search {
       height: 50px;
       width: 720px;
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.Logo {
       height: 60px;
       width: 165px;

       background-size: contain;
       background-color: transparent;
}

.Search {
       width: 600px;
       height: 35px;
       background-color: #ffffff;
       border: 1px solid rgb(238, 238, 238);
       border-radius: 5px;
       display: flex;
       align-items: center;

}

input[type=text] {
       border: none;
       width: 500px;
       height: 35px;
       font-size: 14px;

}

.location-signin {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       height: 35px;
       width: 280px;

}

.location {
       color: #1A1A1A;
       font-size: 15px;
       height: 25px;
       width: 100px;
       transform: translateY(3px);
}

.signin {
       height: 25px;
       width: 70px;
       background-color: #F84464;
       color: #ffffff;
       border: 1px solid rgb(248, 68, 100);
       border-radius: 5px;
       font-size: 12px;
       margin-right: 5px;
}

.categories {
       /* second sub navabar*/
       height: 40px;
       width: 100vw;
       background-color: #f5f5f5;
       display: flex;
       justify-content: space-around;
       border-bottom: 2px solid rgb(238, 238, 238);
}

.entertain {
       height: 40px;
       width: 400px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       transform: translateX(-70px);
}

.item {
       font-size: 14px;
       color: #333333;
       list-style-type: none;
}

.services {
       height: 40px;
       width: 350px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       transform: translateX(70px);

}

.offer {
       font-size: 12px;
       color: #333333;
       list-style-type: none;
}

/*section 1*/
.spacing {
       height: 30px;
       width: 100vw;
       background-color: #f5f5f5;
}

.movies-names {
       height: 500px;
       width: 100vw;
       background-color: #f5f5f5;
       display: flex;
       box-sizing: border-box;
       justify-content: space-evenly;
       padding: 0px 120px 0px 120px;
}

/*section 2*/
.recommend {
       color: #333333;
       width: 100vw;
       height: 35px;
       background-color: #f5f5f5;
       display: flex;
       box-sizing: border-box;
       justify-content: space-between;
       padding: 0px 150px 0px 150px;
}

.see-all {
       color: #dc3558;
       font-size: 14px;
       transform: translateY(5px);
}

.movie {
       height: 378px;
       width: 222px;
       border-radius: 10px;
}

.title {
       margin-top: 10px;
}

.nameofmov {
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;

}

.genre {
       font-size: 16px;
       color: #666666;
       font-weight: 400;
}

.slider1 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -270px;

}

/*section 3 */
.streaming {
       height: 150px;
       width: 100vw;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #f5f5f5;
}

/*section 4 */
.events {
       height: 100px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 60px 150px 0px 150px;
}

.live-events {
       height: 290px;
       width: 100vw;
       background-color: #f5f5f5;
       display: flex;
       box-sizing: border-box;
       padding: 0px 125px;
       justify-content: space-evenly;
}

.slider2 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 210px;
       top: -140px;
}

.type {
       height: 230px;
       width: 230px;
       border-radius: 10px;
}

/*section 5 */
.premiere {
       height: 150px;
       width: 100vw;
       background-color: #2b3148;
       display: flex;
       justify-content: center;
       align-items: center;
}

.about-premiere {
       height: 55px;
       width: 100vw;
       box-sizing: border-box;
       padding: 0px 150px;
       background-color: #2b3148;
}

.releases {
       height: 445px;
       width: 100vw;
       background-color: #2b3148;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.launch {
       height: 333px;
       width: 222px;
       border-radius: 10px;
}

.relname {
       margin-top: 10px;
}

.nameoflaunch {
       font-size: 18px;
       color: #ffffff;
       margin-bottom: 10px;

}

.genre-launch {
       font-size: 16px;
       color: #ffffff;
       font-weight: 400;
}

.slider3 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 205px;
       top: -250px;

}

/*section 6 */
.music {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.music-studio {
       height: 550px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.song {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.music-name {
       margin-top: 10px;
}

.performance {
       width: 200px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}

.pic2 {
       height: 45px;
}

.pic3 {
       height: 25px;
}

.pic4 {
       width: 220px;
}

.perform-loca {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;

       line-height: 22px;
}

.concert {
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       height: 25px;
       margin-top: 4px;
}

.slider4 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -320px;

}

/*section 7 */
.fun {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.fun-activities {
       height: 550px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.play {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.place-visit {
       margin-top: 10px;
}

.placename {
       width: 220px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}

.firstpic,
.thirdpic,
.fourthpic {

       height: 20px;
}

.placeloca {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;

       line-height: 22px;
}

.concert {
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       height: 25px;
       margin-top: 4px;
}

.slider5 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -290px;

}

/*section 8 */
.outdoor {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.outdoor-events {
       height: 550px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.outdooreve-pics {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.event-to-visit {
       margin-top: 10px;
}

.eventname {
       width: 230px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}

.secondeve,
.thirdeve,
.fourtheve {
       height: 20px;
}

.eventloca {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       line-height: 22px;
}

.slider6 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -290px;

}

/*section 9*/

.laughter {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.laughter-therapy {
       height: 550px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.laugh-pics {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.laughter-therapy-events {
       margin-top: 10px;
}

.laugh-eventname {
       width: 230px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}


.le1,
.le4 {
       height: 25px;
}

.laugh-eventloca {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       line-height: 20px;
}


.slider7 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -300px;
}

/*section 10*/


.popular {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.popular-events {
       height: 550px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.pop-eve-pics {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.prominent-events {
       margin-top: 10px;
}

.pop-eventname {
       width: 230px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}

.pe5 {
       height: 25px;
}

.pop-eventloca {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       line-height: 20px;
}


.slider8 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -280px;
}


/*section 11*/

.latest {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.latest-plays {
       height: 550px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.latest-pics {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.Newest-events {
       margin-top: 10px;
}

.lat-eventname {
       width: 230px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}

.la3,
.la5 {
       height: 25px;
}

.lat-eventlang {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       line-height: 20px;
}


.slider9 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -270px;
}


/*section 12*/

.games-sports {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;
}

.topgames-sportsevents {
       height: 500px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 0px 135px;
       display: flex;
       justify-content: space-around;
}

.keysports-pics {
       height: 380px;
       width: 222px;
       border-radius: 10px;
}


.games-and-sports {
       margin-top: 10px;
}

.sports-name {
       width: 230px;
       height: 45px;
       font-size: 18px;
       color: #222222;
       margin-bottom: 8px;
       font-weight: 500;

}

.se1,
.se2,
.se5 {
       height: 25px;
}

.sports-loca {
       width: 220px;
       font-size: 16px;
       color: #666666;
       font-weight: 400;
       line-height: 20px;
}


.slider10 {
       height: 40px;
       width: 40px;
       background-color: #999999;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       position: relative;
       left: 200px;
       top: -295px;
}

/* section 13*/

.trending-search {
       height: 65px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: flex-start;

}

.searches {
       height: 200px;
       width: 100vw;
       background-color: #f5f5f5;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: flex-start;
       flex-wrap: wrap;
       gap: 15px;
}

.name {
       color: #F84464;
       font-size: 16px;
       font-weight: 500;

}

.search-type {
       color: #666666;
       font-size: 14px;
       height: 20px;
       width: 44px
}

.trend1 {
       height: 70px;
       width: 160px;
       background-color: white;
       padding: 14px 45px 12px 16px;
       box-sizing: border-box;


}

.ts1 {
       height: 20px;
       width: 100px;
}

.trend2 {
       height: 70px;
       width: 105px;
       background-color: white;
       padding: 14px 45px 12px 16px;
       box-sizing: border-box;

}

.trend3 {
       height: 70px;
       width: 288px;
       background-color: white;
       padding: 14px 45px 12px 16px;
       box-sizing: border-box;

}

.ts3 {
       width: 230px;
       height: 20px;
}

.trend4 {
       height: 70px;
       width: 161px;
       background-color: white;
       padding: 14px 45px 12px 16px;
       box-sizing: border-box;

}

.ts4 {
       height: 20px;
       width: 105px;
}

.trend5 {
       height: 70px;
       width: 132px;
       background-color: white;
       box-sizing: border-box;
       padding: 14px 45px 12px 16px;
}

.ts5 {
       height: 20px;
       width: 90px;
}

.trend6 {
       height: 70px;
       width: 127px;
       background-color: white;
       box-sizing: border-box;
       padding: 14px 45px 12px 16px;
}

.trend7 {
       height: 70px;
       width: 108px;
       background-color: white;
       box-sizing: border-box;
       padding: 14px 45px 12px 16px;
}

.trend8 {
       height: 70px;
       width: 146px;
       box-sizing: border-box;
       background-color: white;
       padding: 14px 45px 12px 16px;
}

.ts8 {
       width: 86px;
       height: 20px;
}

.trend9 {
       height: 70px;
       width: 413px;
       box-sizing: border-box;
       background-color: white;
       padding: 14px 45px 12px 16px;
}

.ts9 {
       width: 355px;
       height: 20px
}

.trend10 {
       height: 70px;
       width: 113px;
       background-color: white;
       box-sizing: border-box;
       padding: 14px 45px 12px 16px;
}

/*section14*/
.main-end {
       background-color: #f5f5f5;
       height: 80px;
       width: 100vw;
}

/*section 15*/
.footer-main {
       height: 1050px;

}

/* section 15 part1 */
.ft-sec1 {
       background-color: #313035;
       height: 83px;
       width: 100vw;
       box-sizing: border-box;
       padding: 30px 150px 30px 150px;
       display: flex;
       justify-content: space-between;

}

.ft-p1 {
       height: 60px;
       width: 850px;
       display: flex;
       justify-content: space-evenly;

}

.hut {
       height: 33px;
       width: 33px;
       position: relative;
       bottom: 10px;

}

.contact {
       background-color: #ec5e71;
       width: 140px;
       height: 40px;
       color: rgb(255, 255, 255);
       border: none;
       border-radius: 5px;
       font-size: 16px;
       position: relative;
       bottom: 10px;

}


/* section 15 part2 */
.ft-sec2 {
       background-color: #404043;
       height: 110px;
       width: 100vw;
       box-sizing: border-box;
       padding: 0px 150px 0px 150px;

}

.help-service {
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 110px;
}

.customer {
       width: 175px;
       height: 83px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       transition: all 0.25 ease-in-out 0.09;

}

.service-1 {
       width: 115px;
       height: 83px;
}


.service-pic path {
       fill: rgba(255, 255, 255, 0.7);
       /* Initial color */
       height: 50px;
       transition: fill 0.20s ease-in-out;
}



.service-name {
       color: #bcc0c4bd;
       font-size: 11px;
       margin-top: 10px;
       transition: color 0.20s ease-in-out;
}

.customer:hover .service-pic path {
       fill: #ffffff;
       /* Color on hover */
}


.customer:hover .service-name {
       color: #ffffff;
}

/* section 15 part3 */
.ft-sec3 {
       background-color: #333338;
       height: 1080px;
       width: 100vw;
       box-sizing: border-box;
       padding: 0px 150px 0px 150px;
}

.para {
       width: 1250px;
       height: 76px;
       padding-top: 25px;
       box-sizing: border-box;
}

.para-names {
       color: #a5a5a5;
       font-size: 12px;
       margin-bottom: 20px;

}

.para h3 {
       font-size: 12px;
       color: #7f7f7f;
       font-weight: 400;
       display: inline;
       transition: all 0.25 ease-in-out 0.09;
}

.para h3:hover {
       filter: brightness(150);
}

.movie-names {
       display: flex;
       color: #7f7f7f;
       align-items: center;
}

/*section 16*/

.ft-sec4 {
       height: 280px;
       width: 100vw;
       box-sizing: border-box;
       padding-left: 24px;
       padding-right: 24px;
       padding-bottom: 20px;
       background-color: #333338;

}

.prt1 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 125px;
       width: 100%;
       position: relative;
}

.footerlogo {
       position: relative;
       z-index: 1;
       height: 125px;
       width: 150px;
       background-color: #333338;
       display: flex;
       align-items: center;
       justify-content: center;
}

.footer-divider {
       position: absolute;
       width: 100%;
       border: 0;
       border-top: 1px solid #7f7f7f;
       z-index: 0;
}

.social-media {
       width: 100%;
       height: 40px;
       display: flex;
       justify-content: center;
}

.platform {
       height: 35px;
       width: 35px;
       background-color: rgba(255, 255, 255, 0.2);
       border-radius: 50%;
       margin-right: 10px;
       transition: background-color 0.20s ease-in-out;
       position: relative;

}

.fa-facebook-f {
       color: #333338;
       position: relative;
       left: 12px;
       top: 10px;
       transform: scale(1.3);
}

.fa-x-twitter {
       color: #333338;
       position: relative;
       left: 10px;
       top: 10px;
       transform: scale(1.3);
}

.fa-instagram {
       color: #333338;
       position: relative;
       left: 10.5px;
       top: 8px;
       transform: scale(1.5);
}

.fa-youtube {
       color: #333338;
       position: relative;
       left: 9px;
       top: 8px;
       transform: scale(1.2);
}

.fa-pinterest-p {
       color: #333338;
       position: relative;
       left: 11px;
       top: 8px;
       transform: scale(1.2);
}

.fa-linkedin-in {
       color: #333338;
       position: relative;
       left: 11px;
       top: 8px;
       transform: scale(1.2);
}

.platform:hover {
       background-color: #ffffff;
}

.copyright {
       width: 100%;
       height: 98px;
       padding:30px;
       box-sizing: border-box;

}

.copyright p{
 color:#666666;
 font-size: 11px;
 text-align: center;
}